<?xml version="1.0"?>
<!--
/**
 * Copyright © Andriy Stetsiuk. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Andriy_Points::base" title="Contact Person" sortOrder="10"/>
            </resource>
        </resources>
    </acl>
</config>
