<?xml version="1.0"?>
<!--
/**
 * Copyright © Andriy Stetsiuk. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Andriy_Points::add_brands"
             title="Points" module="Andriy_Points"  sortOrder="20" action="points/item"
             resource="Andriy_Points::add_brands"/>
    </menu>
</config>
