<?xml version="1.0"?>
<!--
/**
 * Copyright © Andriy Stetsiuk. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="point" translate="label" sortOrder="10">
            <label>Pick-up Point</label>
        </tab>
        <section id="point" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google Api</label>
            <tab>point</tab>
            <resource>Androy_Points::google</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Google api</label>
                <field id="google_api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Google maps api key</label>
                </field>
            </group>
        </section>
    </system>
</config>
